services:
  test_db:
      container_name: my_postgres
      image: postgres:13
      restart: always
      ports:
        - "5432:5432"
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres